LumisPortal {
  lumis.portal.authentication.LumisLoginModule sufficient debug=false;
};

LumisPortalSpnego {
  com.sun.security.auth.module.Krb5LoginModule required
  debug=false
  storeKey=true
  doNotPrompt=true
  useKeyTab=true
  keyTab="${lumis.portal.lumisDataPath}/config/security/lumisportal.keytab"
  principal="lumisportalservice@MYDOMAIN.COM";
};