/* $Revision: 15370 $ $Date: 2013-05-22 15:55:57 -0300 (Wed, 22 May 2013) $ */

.lumis-service-navigation-breadCrumb {
	margin:10px 0;
}
.lumis-service-navigation-breadCrumb ul {
	padding:0;
	margin:0;
	list-style:none;
	display:inline;
}
.lumis-service-navigation-breadCrumb ul li {
	display:inline;
}
.lumis-service-navigation-breadCrumb ul li:after {
	content:' \00BB  ';
}
.lumis-service-navigation-breadCrumb ul li.lum-last:after {
	content:'';
}
