/* $Revision: 16198 $ $Date: 2014-03-17 19:43:16 -0300 (Mon, 17 Mar 2014) $ */

.lumis-service-pagepersonalization-widgetList {
	z-index:99998;
	margin:0 auto;
	width:100%;
	display:none; /* javascript will show it after positioned */
}
.lumis-service-pagepersonalization-widgetList .lum-content-title {
	font-size:12px;
	margin:0 0 10px 0; 
	text-transform:none;
	font-weight:bold;
	display:inline-block;
	width:50%;
}
.lumis-service-pagepersonalization-widgetList .lum-content-body > .lum-actions {
	list-style-type: none;
	margin: 0 0 10px 0;
	padding: 0px;
	position:absolute;
	right:20px;
 }
.lumis-service-pagepersonalization-widgetList .lum-content-title:after {
	content:":";
}
.lumis-service-pagepersonalization-widgetList .lum-content-body {
	position:relative;
	margin:0;
}

/*open/close link*/
.lumis-service-pagepersonalization-widgetList .lum-content-footer {
	text-align:center;
}
.lumis-service-pagepersonalization-widgetList .lum-content-footer .lum-actions {
	position:relative;
	display:inline-block;
	background:#f6f6f6;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	padding:6px 26px 6px 18px;
	margin-top:-1px;
	margin-bottom: 10px;
}
.lumis-service-pagepersonalization-widgetList .lum-content-footer .lum-actions a:after {
	content:"";
	border:4px solid transparent;
	border-top-color:#ba2a2a;
	position:absolute;
	z-index:2;
	right:12px;
	top:1em;
}
.lumis-service-pagepersonalization-widgetList.lum-expanded .lum-content-footer .lum-actions a:after {
	border-bottom-color:#ba2a2a;
	border-top-color:transparent;
	margin-top:-4px;
}

/*widget list*/
.lumis-service-pagepersonalization-widgetList .lum-content-body {
	position:relative;
	font-size:11px;
	color:#444;
	width:80%;
	min-width:590px;
	margin:0 auto;
	padding:0 25px;
	background:#f6f6f6;
	border:0px solid #c8c8c8;
	visibility:hidden;
	max-height:0;
	transition:all .4s;
	-webkit-transition:all .4s;
	overflow:hidden;
}
.lumis-service-pagepersonalization-widgetList.lum-expanded .lum-content-body {
	visibility:visible;
	max-height:250px;
	padding:20px 25px;
	border-width:0 1px 1px;
}
.lumis-service-pagepersonalization-widgetList.lum-expanded .lum-expand {
	display:none;
}
.lumis-service-pagepersonalization-widgetList.lum-collapsed .lum-collapse {
	display:none;
}
.lum-pagepersonalization-navigation .cLumPPOfferedWidget {
	margin-right:10px;
}
.cLumPPOfferedWidget {
	display:inline-block;
}
.cLumPPOfferedWidget > a {
	display:block;
	text-align:center;
	font-weight:bold;
	color:#919191;
}
.cLumPPOfferedWidget > a:hover {
	cursor:move;
	text-decoration:none;
	color:#444;
}
.cLumPPOfferedWidget > a > img {
	display:block;
	border:0;
	width:85px;
	height:85px;
	border:1px solid #d8d8d8;
	border-radius:3px;
	margin-bottom:4px;
}
.cLumPPOfferedWidget.ui-draggable-dragging {
	z-index:99999;
}
.cLumPPOfferedWidget.ui-draggable-dragging > a,
.cLumPPOfferedWidget.ui-draggable-dragging > a:hover,
.cLumPPOfferedWidget.cLumPPUndraggable > a,
.cLumPPOfferedWidget.cLumPPUndraggable > a:hover {
	cursor:default;
}
.cLumPPOfferedWidget.cLumPPUndraggable > a,
.cLumPPOfferedWidget.cLumPPUndraggable > a:hover {
	color:#e0e0e0;
}
.cLumPPOfferedWidget.cLumPPUndraggable > a {
	position:relative;
}
.cLumPPOfferedWidget.cLumPPUndraggable > a:after {
	content:"";
	position:absolute;
	top:1px;
	left:1px;
	height:80px; /* img height */
	width:100px; /* img width */
	background-color:white;
	opacity:.5;
	z-index:1;
}

/* pagination */
.lum-pagepersonalization-navigation {
	overflow:hidden;
	margin:0 20px;
}
.lum-pagepersonalization-navigation ul {
	position:relative;
	margin:0;
	padding:0;
	left:0;
	white-space:nowrap;
	transition:left .4s;
	-webkit-transition:left .4s;
}
.lum-pagepersonalization-navigation-pagination {
	display:block;
	width:16px;
	height:100px;
	overflow:hidden;
	text-indent:100%;
	position:absolute;
	bottom:25px;
	background-repeat:no-repeat;
	background-position:center center;
}
.lum-pagepersonalization-navigation-pagination:hover {
	background-color:#ddd;
}
.lum-pagepersonalization-navigation-pagination.lum-prev {
	background-image:url("../image/ico_prev.png");
	left:20px;
}
.lum-pagepersonalization-navigation-pagination.lum-next {
	background-image:url("../image/ico_next.png");
	right:20px;
}

/* holder */
.cLumPPPlaceholder
{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	background-color:#FCF3F4;
	border:1px dotted #D1686C;
	height:130px;
}
.cLumPPHolder
{
	width:100%;
	overflow:hidden;
	list-type:none;
	padding:0;
	margin:0;
}
.lum-widget-holder > .cLumPPPlaceholder ~ li,
.lum-widget-holder > .cLumPPWidget ~ li {
	margin-top:5px;
}
.lum-widget-holder {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:1px dashed #000;
	padding:5px;
}
.lum-widget-holder .cLumPPWidget
{
	border: #aaa 1px dotted;
	list-style: none;
	padding:5px;
}
.lum-widget-holder .cLumPPWidgetUntranslated
{
	border-color:#ff0000;
}